.boxprincipal1{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 40%;
    background-color:#FCF6E4;
    align-items: center;
    padding-left: 10%;
}

.box1{

width: 33.33%;
height: 100%;
background-color:#FCF6E4;


}
.box2{
    width: 33.33%;
    height: 100%;
    background-color:#FCF6E4;
    }
    .box3{
        width: 33.33%;
        height: 100%;
        background-color:#FCF6E4;
        
        }
        /* <div className={styles.boxprincipal1}>
        <div className={styles.box1}>
                <div class="row card small">
                    <div class="col s12 m7">
                        <div class=" #0097a7 cyan darken-2" >
                            <div class="card-image">
                                <img className={styles.lol} src={lol} alt="">
                                </img>
                                <span class="card-title"></span>

                                <div class="card-content">
                                    <p class="cyan-text text-darken-3"> DataLovers: Javascript /html5/ API / CSS3/ Figma / Github/ Hot Jar / Balsamiq Mockups</p>
                                </div>
                                <div class="card-action">
                                    <a href="https://algrismarquez.github.io/SCL014-data-lovers/index.html">Data Lovers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        
        <div className={styles.box2}>
           
                <div class="row card small">
                    <div class="col s12 m7">
                        <div class="card #0097a7 cyan darken-2">
                            <div class="card-image">
                                <img className={styles.burguer} src={burguer} alt=""></img>
                                <span class="card-title"></span>
                                <div class="card-content">
                                    <p>Burguer Queen: Single-page Application (SPA) React / Firebase / CSS3 / Figma / Github.</p>
                                </div>
                                <div class="card-action">
                                    <a href="https://burgersong.on.fleek.co/">Burguer Queen</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
          
        </div>

        <div className={styles.box3}>
            
                <div class="row card small">
                    <div class="col s12 m7">
                        <div class="card #0097a7 cyan darken-2">
                            <div class="card-image">
                                <img className={styles.barky} src={barky} alt=""></img>
                                <span class="card-title"></span>

                                <div class="card-content">
                                    <p>Red Social: Single-page Application (SPA) Javascript /Firebase /CSS3/ Figma /Github.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Red Social</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
        </div>


    </div>

    <div className={styles.boxprincipal1}>
        <div className={styles.box1}>
           
                <div class="row card small">
                
                    <div class="col s12 m7">
                        <div class="card #0097a7 cyan darken-2" >
                            <div class="card-image">
                                <img className={styles.comi} src={comida} alt="">
                                </img>
                                <span class="card-title"></span>

                                <div class="card-content">
                                    <p class="cyan-text text-darken-3"> Comida para todos:  Javascript / React / CSS3/ Figma / Github/Boostrap</p>
                                </div>
                                <div class="card-action">
                                    <a href="https://comidaparatodos.on.fleek.co/">Comida Para Todos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                

            </div>
        </div>
        <div className={styles.box2}>
            
                <div class="row card small ">
                    <div class="col s12 m7">
                        <div class="card #0097a7 cyan darken-2">
                            <div class="card-image">
                                <img className={styles.mdlink} src={mdlink} alt=""></img>
                                <span class="card-title"></span>
                                <div class="card-content">
                                    <p>MdLinks:  Libreria realizada con Node.js/ Markdow-it/ Fetch /JSDom</p>
                                </div>
                                <div class="card-action">
                                    <a href="https://www.npmjs.com/package/md-links-solex">md-links-solex</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
         
        </div>

        <div className={styles.box3}>
            
                <div class="row card small">
                    <div class="col s12 m7">
                        <div class="card #0097a7 cyan darken-2">
                            <div class="card-image">
                                <img className={styles.credit} src={credit} alt=""></img>
                                <span class="card-title"></span>

                                <div class="card-content">
                                    <p>Validador de Tarjeta: Javascript /CSS3 /html5 /Github /Balsamiq Mockups</p>
                                </div>
                                <div class="card-action">
                                    <a href="https://solmarina.github.io/SCL014-card-validation/">Card Validator</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
          
        </div>


    </div> 

    </div> */
