.boxFirst{
    background-color:#ffe0db;
}

.box1{
display: flex;
flex-flow: row;
padding: 25px;
background-color:#ffe0db;
justify-content: space-around;
align-content: center;
}



.box11{
    display: flex;
    padding: 20px;
} 
h2{
    color: #ec4f43 ;
}

.links{
    display:flex;
    flex-flow: row;
    justify-content: space-between;

}
.code{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-left: 38%;
}

.codewo{
    display: flex ;
    width: 100%;
}
.codemu{
display: flex;
width: 15%;
height: 15%;

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){


    .box1{
        display: flex;
        flex-flow: column;
        padding: 15px;
        background-color:#ffe0db;
        justify-content: space-around;
        }
        
        
        .box11{
            display: flex;
            padding: 20px;
        } 


        .code{
            display: flex;
            flex-flow: row;
            align-items: center;
            padding-left: 20%;
        }
        
        .codewo{
            display: flex ;
            width: 100%;
        }
        .codemu{
        display: flex;
        width: 35%;
        height: 35%;
        
        }

        h2{
            color: #ec4f43 ;
            font-size: 35px;
        }









}