

.box1{
display: flex;
flex-flow: row;
padding: 25px;
background-color:#FCF6E4;
justify-content: space-around;
}


.box11{
    display: flex;
    padding: 20px;
} 
h1{
    color:#448E9E ;
}

.links{
    display:flex;
    flex-flow: row;
    justify-content: space-between;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){


    .box1{
        display: flex;
        flex-flow: column;
        padding: 15px;
        background-color:#FCF6E4;
        justify-content: space-around;
        }
        
        
        .box11{
            display: flex;
            padding: 20px;
        } 














}