body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#ffe0db;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-wrapper{
background-color:#ec4f43;


}


.card-content{
  background-color:#ec4f43  ;
}

#mobile-demo{
  
  background-color:#ec4f43;
}

#carousel{
  height: 650px;
  background-color:#ffe0db;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  #carousel{
    height: 350px;
    background-color:#ffe0db;
  }
}


